[project]
name = "20882-project"
version = "0.1.0"
description = "Unsupervised learning by competing hidden units paper"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "matplotlib>=3.10.8",
    "torch>=2.10.0",
    "torchvision>=0.25.0",
]
